# Cargo's build files
**/target

# Cached files from the test/benchmark runner
monument/test/.last-results.toml

# Where I store comps I'm working on that I don't want to show to everyone
*/comps/
monument/bench/

# All callgrind files
**/callgrind*
